/python_projects/.env

__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
env/
.venv/
/python_projects/py_venv/
py_venv/

*.log
*.sqlite3
*.db

.vscode/
.idea/

*.egg-info/
dist/
build/

.coverage
htmlcov/
.tox/

/python_projects/PySpark/data/final*
/python_projects/PySpark/data/customs_data.csv
